
@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>
<hr />

<div class="row">
    <form asp-action="Register" asp-controller="Accounts" class="col-md-4">
        <label>
            Fullname :
        </label>
        <input type="text" name="FullName" placeholder="Fullname .. " class="form-control" />
        <br />

        <label>
            Username :
        </label>
        <input type="text" name="Username" placeholder="Username .. " class="form-control" />
        <br />

        <label>
            Email :
        </label>
        <input type="Email" name="Email" placeholder="Email .. " class="form-control" />
        <br />

        <label>
            Password :
        </label>
        <input type="Password" name="Password" placeholder="Password .. " class="form-control" />
        <br />
        <label>
            Birth date :
        </label>
        <input type="date" name="BirthDate" placeholder="Birth date .. " class="form-control" />
        <hr />
        <input type="submit" value="Register" class="btn btn-success"/>
    </form>
</div>